<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937511972512-eo7k2f5rrf7i818jp7r2cdkqpmat3bja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937511972512-eo7k2f5rrf7i818jp7r2cdkqpmat3bja</string>
	<key>API_KEY</key>
	<string>AIzaSyBhccJtUPjE2monZ0btRD08LpOKTiiigtU</string>
	<key>GCM_SENDER_ID</key>
	<string>937511972512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pascalinc.Reserva-iOS</string>
	<key>PROJECT_ID</key>
	<string>reserva-7952f</string>
	<key>STORAGE_BUCKET</key>
	<string>reserva-7952f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937511972512:ios:c5f6d45d143ca82e2463c5</string>
	<key>DATABASE_URL</key>
	<string>https://reserva-7952f.firebaseio.com</string>
</dict>
</plist>