<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565293326120-kg618f2douu77su1ar6vdl28m6s7evrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565293326120-kg618f2douu77su1ar6vdl28m6s7evrf</string>
	<key>API_KEY</key>
	<string>AIzaSyCaMJTZaeNVRK7Pbl473dAXWFeH_GRjuwg</string>
	<key>GCM_SENDER_ID</key>
	<string>565293326120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pascalinc.Reserva-iOS</string>
	<key>PROJECT_ID</key>
	<string>projectsf-reserva-app</string>
	<key>STORAGE_BUCKET</key>
	<string>projectsf-reserva-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565293326120:ios:64657b0a38e43182c03a1d</string>
	<key>DATABASE_URL</key>
	<string>https://projectsf-reserva-app.firebaseio.com</string>
</dict>
</plist>